.klay-overview {
    &__balance {
        display: flex;
        flex-direction: column;
        min-width: 0;
        position: relative;
        align-items: center;
        margin: 16px 0;
        padding: 0 16px;
        max-width: 100%;
    }

    &__primary-container {
        display: flex;
    }

    &__primary-balance {
        color: black;
        width: 100%;
        justify-content: center;
    }
}